p {
    color: green;
    font-size: italic;
}

h3, h4{
    font-family: Arial;
}

h3 {
    color: blue;
}

h4 {
    color: yellow;
}

li {
    font-size: 12px;
}

body {
    background: silver;
    font: Arial black;
}

p {
    color: green;
    font-style: italic;
    font: monotype corsiva;
}

